<!------------------ start of footer ------------------->

<div class="all_tags"><!-- all the tags -->
    <div class="all_tags_inner">
        <button class="tag">Yes</button>
        <button class="tag">No</button>
        <button class="tag">&#x1F44D;</button>
        <button class="tag">Cancel</button>
        <button class="tag">You want see the history for Game Pick4</button>
        <button class="tag">You want see the history for Game Bucko</button>
    </div>
</div>

	<div class="footer">
		<div class="attachment">
			<button class="att-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="upload_link">
				<img src="contents/images/attachment.png" alt="attachment" />
			</button>
			<input type="file" id="upload" />
		</div>

		<div class="smileys">
			<button class="smiley-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">mood</i></button>
		</div>

		<div class="send_msg emoji-picker-container">
			<textarea class="msg" ng-model="realdata"   placeholder="Enter your message..." data-emojiable="true"></textarea>
                <button class="send-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="sendmsg()">
                  <i class="material-icons">send</i>
                </button>
		</div>
		<div class="clear"></div>
	</div><!-- end of footer -->
<!------------------ end of footer ------------------->